# Enable URL Rewriting
RewriteEngine On

#RewriteRule ^([0-9a-zA-Z]+) index.php?page=$1 [NC,L]

DirectoryIndex page.php


# 404 Page used later in the file. Idk why I have this fancy URL for it ngl.
RewriteRule ^404 page.php?p=404 [NC,L]

# Normal Page URL's
RewriteRule ^blog page.php?p=blog [NC,L]
RewriteRule ^projects page.php?p=projects [NC,L]
RewriteRule ^deprecated page.php?p=deprecated [NC,L]
RewriteRule ^sitemap page.php?p=sitemap [NC,L]


# Blog Post URL's
RewriteRule ^post/multiplayer-games page.php?p=blog/multiplayer-games [NC,L]
RewriteRule ^post/color-changes page.php?p=blog/color-changes [NC,L]
RewriteRule ^post/remaking-bkjs page.php?p=blog/remaking-bkjs [NC,L]
RewriteRule ^post/newtab-search page.php?p=blog/newtab-search [NC,L]
RewriteRule ^post/pages-intro page.php?p=blog/pages-intro [NC,L]
RewriteRule ^post/archive-removal page.php?p=blog/archive-removal [NC,L]
RewriteRule ^post/archive-update page.php?p=blog/archive-update [NC,L]
RewriteRule ^post/website-revamp page.php?p=blog/website-revamp [NC,L]
RewriteRule ^post/goodbye-static page.php?p=blog/goodbye-static [NC,L]

# Directory listing hiding and Error 404 Document.
ErrorDocument 404 /404
#Options -Indexes

